<span id="labelDataAtual">
    {{ dias.0.data|date:"F Y" }}
</span>

<div class="agenda-wrapper">

    <div class="agenda-header">
        <div>
            {% for dia in dias %}
                <div class="{% if dia.data == today %}dia-hoje{% endif %}">
                    {{ dia.nome }}<br>
                    <small>{{ dia.num }}</small>
                </div>
            {% endfor %}
        </div>

        <div class="agenda-body">
            {% for hora in horas %}
                <div class="hora {% if hora.cheia %}hora-cheia-label{% endif %}"
                    style="grid-column: 1; grid-row: {{ forloop.counter|add:1 }};">
                    {{ hora.valor }}
                </div>

                {% for dia in dias %}
                    <div class="slot
                        {% if hora.cheia %}hora-cheia{% endif %}
                        {% if hora.fechado %}slot-fechado{% endif %}"
                        style="grid-column: {{ forloop.counter|add:1 }}; grid-row: {{ forloop.parentloop.counter|add:1 }};"
                        data-dia="{{ dia.data|date:'Y-m-d' }}"
                        data-hora="{{ hora.valor }}">
                    </div>
                {% endfor %}
            {% endfor %}

        {% for ag in agendamentos %}
            <div class="agendamento status-{{ ag.status }}"
                data-id="{{ ag.id }}"
                style="grid-column: {{ ag.grid_col }}; grid-row: {{ ag.grid_row }} / span {{ ag.grid_span }};"
                onclick="event.stopPropagation(); abrirDetalhesAgendamento({{ ag.id }});">

                <strong>
                    {{ ag.paciente }}

                    {% if not profissional_id and ag.profissional %}
                        - Dr(a). {{ ag.profissional }}
                    {% endif %}
                </strong>

                <small>{{ ag.hora_inicio|time:"H:i" }} - {{ ag.hora_fim|time:"H:i" }}</small>
            </div>
        {% endfor %}
    </div>
</div>
